.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.line {
}
.connector {
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
.shape1 {
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.box_1 {
}
.image1 {
  color:#000000;
}
.label {
  font-size:14px;
  text-align:left;
}
._形状 {
}
.image2 {
}
.droplist {
  color:#000000;
  text-align:left;
}
.button {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_11 {
}
.ellipse {
}
._形状1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._文本段落 {
  text-align:left;
}
.line1 {
}
.box_12 {
  font-size:12px;
  text-align:left;
}
.heading_21 {
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:28px;
}
.heading_31 {
  font-family:'PingFang-SC-ExtraLight', 'PingFang SC ExtraLight', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
.label2 {
  font-size:12px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
._图片_ {
}
._默认样式 {
}
.box_2 {
}
._线段 {
}
.paragraph1 {
  text-align:left;
}
._默认样式1 {
}
.shadow_level_2 {
}
.box_21 {
}
._表单禁用 {
}
.shape2 {
  font-family:'72-Regular', '72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_13 {
  font-family:'72-Regular', '72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.paragraph2 {
  text-align:left;
}
._连接 {
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
}
._表格 {
}
.box_22 {
}
.label3 {
  font-size:14px;
  text-align:left;
}
.ellipse1 {
}
._形状2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.table_cell {
}
._默认样式2 {
}
.box_14 {
}
.box_3 {
}
.checkbox1 {
  text-align:left;
}
._复选框 {
  text-align:left;
}
.line2 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
textarea, select, input, button { outline: none; }
